name: Test

on:
  push:
    branches-ignore:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    container: jssoft/node_browsertests
    steps:
      - uses: actions/checkout@v2
      - run: apt-get update && apt-get install jq -y
      - run: bash .ci/build.sh
      - run: bash .ci/test.sh
